* {
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    font-family:'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: grid;
    padding: 34px;
    margin: 0px;
    grid-template-columns: 2fr;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
}
.imagen{  
        
        h1 {
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1em;
    }
    img {
        position: relative;
    }
    }

    .row1 {
        display: grid;
        grid-column: 1fr;
        grid-row: 1fr;
        padding: 20px;
    }
    .emergencias{
        display: flex;
        flex-direction: column;
        margin: 50px;
        align-items: center;
        margin-inline: 225px;
    }
    
    .emergencias img {
        width: 200px;
        height: 200px;
        
    }
    
    .funeraria {
        display: flex;
        flex-direction: column;
        margin: 50px;
        align-items: center;
        margin-inline: 300px;
    }
    
    .funeraria img {
        width: 200px;
        height: 200px;
    }
    
        footer {
            padding: 3em;
            background-color: #000c66;
            margin-bottom: 0;
            margin-top: 1.5em;
        }

    footer {
        padding: 3em;
        background-color: #000c66;
        margin-bottom: 0;
        margin-top: 1.5em;
        }

    header {
        grid-area: header;
    }
    
    nav {
        grid-area: nav;
    }
    
    .imagen {
        grid-area: imagen;
    }
    
    .titulo {
        grid-area: titulo;
    }
    
    .emergencias {
        grid-area: emer;
    }

    .funeraria{
        grid-area: funeraria;
    }
    
    .downimg {
        grid-area: downimg;
    }
    
    footer {
        grid-area: footer;
    }

    body{
        background-color: azure;
        margin-bottom: 1.5em;
        display: grid;
        justify-content: center;
        grid-template-areas: 
        "header"
        "nav"
        "h1"
        "emer"
        "funeraria"
        "footer";
    }

@media (min-with:500px){

    body{
        background-color: azure;
        margin-bottom: 1.5em;
        display: grid;
        justify-content: center;
        grid-template-areas: 
        "header"
        "nav"
        "h1"
        "emer"
        "funeraria"
        "footer";
    }

    header {
        display: flex;
        padding: 34px;
        margin: 0px;
        flex-direction: column;
        font-size: large;
        min-width: 100vh;
        background-color: #000C66;
    }
        .imagen{  
            display: flex;
            
            h1 {
            color: white;
            text-align: center;
            padding: 10px;
            margin: 1em;
            font-size: 2.8em;
            flex-direction: column;
            justify-content: center;
        }
        img {
            position: relative;
        }
    }

}

@media (min-width:991px) {

    header {
        display: flex;
        padding: 34px;
        margin: 0px;
        flex-direction: column;
        font-size: large;
        min-width: 100vh;
        background-color: #000C66;
}

    .imagen{  
        display: flex;
            h1 {
                color: white;
                text-align: center;
                padding: 10px;
                margin: 1em;
                font-size: 3.5em;
                flex-direction: column;
            }
            img {
                position: relative;
            }
        }
}

@media (min-width: 1349px){

    body{
        text-align: center;
        font-family: 'Montserrat',sans-serif;
        background-color: aliceblue;
        min-height: 100vh;
    }
    
    header{
        display: flex;
        padding: 34px;
        margin: 0px;
        flex-direction: column;
        font-size: large;
        min-width: 100vh;
        background-color: #000C66;
    }
        .imagen{  
        
            h1 {
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 75px;
        }
        img {
            position: relative;
        }
    }

    .row1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.emergencias{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    margin-inline: 225px;
}

.emergencias img {
    width: 200px;
    height: 200px;
    
}

.funeraria {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    margin-inline: 300px;
}

.funeraria img {
    width: 200px;
    height: 200px;
}

    footer {
        padding: 3em;
        background-color: #000c66;
        margin-bottom: 0;
        margin-top: 1.5em;
    }

}