* {
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    font-family:'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: grid;
    padding: 34px;
    margin: 0px;
    grid-template-columns: 1fr;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
}
.imagen{  
        
        h1 {
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1em;
    }
    img {
        position: relative;
    }
}

.bloquedos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.ubicacion{
    width: 800px;
    height: 500px;
    margin: 10px;
    margin-inline: 450px;
    }
.textoubi{
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-inline: 34px;
    padding: 53px;
} 

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.imagen {
    grid-area: imagen;
}

.ubicacion {
    grid-area: ubicacion;
}

.textoubi {
    grid-area: textoubi;
}

footer {
    grid-area: footer;
}

@media  (min-width:500px) {
    body{
        margin-bottom: 1em;
        grid-template-areas: 
        "header"
        "nav"
        "ubcacion"
        "textoubi"
        "footer";
    }

    .imagen{  
        display: flex;
        
        h1 {
        color: white;
        text-align: center;
        padding: 10px;
        margin: 1em;
        font-size: 2.8em;
        flex-direction: column;
        justify-content: center;
    }
    img {
        position: relative;
    }
}

.bloquedos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

}
@media (min-width:991px) {
    body{
        margin-bottom: 1em;
        grid-template-areas: 
        "header"
        "nav"
        "ubicacion"
        "textoubi"
        "footer";
    }

    .imagen{  
        display: flex;
            h1 {
                color: white;
                text-align: center;
                padding: 10px;
                margin: 1em;
                font-size: 3.5em;
                flex-direction: column;
            }
            img {
                position: relative;
            }
        }

        .bloquedos {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

    }

@media (min-width:1349px) {

    body{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
}

header{
    display: flex;
    padding: 10px;
    margin-left: 0;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;}

.imagen{
        display:flex;
}

nav{
    justify-items: none;
}

.imagen{  
        
    h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
}
img {
    position: relative;
}
}

@mixin size ($widht, $hight){
    height: $hight;
    width: $widht;
}

.ubicacion{
    @include size(500px,800px );
    margin: 10px;
    margin-inline: 450px;
    }
.textoubi{
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-inline: 34px;
    padding: 53px;
}    
footer{
    padding: 9px;
    background-color: #000C66;
}
footer img {
    margin-right: 20px;
    margin-left: 20px;
}
}