* {
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    font-family:'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: grid;
    padding: 34px;
    margin: 0px;
    grid-template-columns: 1fr;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
}
.imagen{  
    display: flex;
    flex-direction: column;
        
        h1 {
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 1em;
    }
    img {
        position: relative;
    }
}

.bloque {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.nosotros {
    padding: 50px;
    margin: 10px;
    font-size: 60px;
    text-align: center;
}

.yo{
    padding: 30px;
    margin: 20px;
    text-align: start;
    font-size: 55px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    margin-inline: 700px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.imagen {
    grid-area: imagen;
}

.nosotro { 
    grid-area: nsotros;
}

.padre{
    grid-area: padre;
}

footer {
    grid-area: footer;
}

@media  (min-width:500px) {
    body{
        margin-bottom: 1em;
        grid-template-areas: 
        "header"
        "imagen"
        "nav"
        "nosotros"
        "padre"
        "footer";
    }

    .imagen{  
        display: flex;
        flex-direction: column;
        
        h1 {
        color: white;
        text-align: center;
        padding: 10px;
        margin: 1em;
        font-size: 2.8em;
        flex-direction: column;
        justify-content: center;
    }
    img {
        position: relative;
    }
}

.bloque {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
}

@media (min-width:991px) {
    body{
        margin-bottom: 1em;
        grid-template-areas: 
        "header     header"
        "imagen     imagen"
        "nav           nav"
        "nosotros nosotros"
        "padre       padre"
        "footer     footer";
    }

    .imagen{  
        display: flex;
        flex-direction: column;
            h1 {
                color: white;
                text-align: center;
                padding: 10px;
                margin: 1em;
                font-size: 3.5em;
                flex-direction: column;
            }
            img {
                position: relative;
            }
        }

        .bloque {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

    }

@media (min-width:1349px) {
body{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
}

header{
    display: flex;
    padding: 10px;
    margin-left: 0;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
}

nav{
    justify-items: none;
}

.imagen{
    display: flex;
    flex-direction: row;  
        
    h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
}
img {
    position: relative;
}
}

.nosotros {
    padding: 50px;
    margin: 10px;
    font-size: 60px;
    text-align: center;
}

.yo{
    padding: 30px;
    margin: 20px;
    text-align: start;
    font-size: 55px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    margin-inline: 700px;
}

footer{
    padding: 9px;
    background-color: #000C66;
}
footer img {
    margin-right: 20px;
    margin-left: 20px;
}

}