* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  padding: 34px;
  margin: 0px;
  grid-template-columns: 1fr;
  font-size: large;
  min-width: 100vh;
  background-color: #000C66;
}

.imagen h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}
.imagen img {
  position: relative;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.imagen {
  grid-area: imagen;
}

.titulo {
  grid-area: titulo;
}

.row {
  grid-area: carousel;
}

.downimg {
  grid-area: downimg;
}

footer {
  grid-area: footer;
}

@media (min-width: 500px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header" "nav" "titulo" "row" "footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 2.8em;
    flex-direction: column;
    justify-content: center;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 991px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header" "nav" "titulo" "row" "footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 3.5em;
    flex-direction: column;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 1349px) {
  body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
  }
  header {
    display: flex;
    padding: 10px;
    margin-left: 0;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  nav {
    justify-items: none;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
  }
  .imagen img {
    position: relative;
  }
  .titulo {
    font-size: 60px;
    padding: 0px;
    text-align: center;
  }
  .carousel-inner {
    margin: 50px;
    margin-inline: 300px;
  }
  .downimg {
    font-size: 20px;
    text-align: center;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  padding: 34px;
  margin: 0px;
  grid-template-columns: 1fr;
  font-size: large;
  min-width: 100vh;
  background-color: #000C66;
}

.imagen h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}
.imagen img {
  position: relative;
}

footer {
  padding: 3em;
  background-color: #000c66;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.tarjetas {
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.card {
  margin: 20px;
  padding: 20px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.imagen {
  grid-area: imagen;
}

.titulo {
  grid-area: titulo;
}

.tarjetas {
  grid-area: tarjetas;
}

.downimg {
  grid-area: downimg;
}

footer {
  grid-area: footer;
}

@media (min-with: 500px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header" "nav nav" "h1 h1" "tarjetas tarjetas" " footer footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 2.8em;
    flex-direction: column;
    justify-content: center;
  }
  .imagen img {
    position: relative;
  }
  .tarjetas {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .tarjetas .card {
    margin: 20px;
    padding: 20px;
  }
}
@media (min-width: 991px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header header" "nav nav" "h1 h1" "tarjetas tarjetas" " footer footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 3.5em;
    flex-direction: column;
  }
  .imagen img {
    position: relative;
  }
  .tarjetas {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .tituloserv {
    padding: 20px;
    margin: 20px;
  }
  .card {
    margin: 30px;
    padding: 10px;
    overflow: hidden;
    transition: all 1.5s;
  }
  .card:hover {
    transform: scale(1);
  }
}
@media (min-width: 1349px) {
  * {
    padding: 0%;
    margin: 0%;
  }
  body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .tarjetas {
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
  .tarjetas .card {
    margin: 50px;
    padding: 9px;
    overflow: hidden;
    transition: all 1s;
  }
  .card:hover {
    transform: scale(1.5);
  }
  footer {
    padding: 3em;
    background-color: #000c66;
    margin-bottom: 0;
    margin-top: 1.5em;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  padding: 34px;
  margin: 0px;
  grid-template-columns: 1fr;
  font-size: large;
  min-width: 100vh;
  background-color: #000C66;
}

.imagen h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}
.imagen img {
  position: relative;
}

.adoption {
  display: flex;
  flex-direction: column;
}

.adotionuno {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.adotionuno img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.adotionuno h2 {
  padding: 50px;
}

.adotiondos {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.adotiondos img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.adotiondos h2 {
  padding: 50px;
}

footer {
  padding: 3em;
  background-color: #000c66;
  margin-bottom: 0;
  margin-top: 1.5em;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.imagen {
  grid-area: imagen;
}

.titulo {
  grid-area: titulo;
}

.adotionuno {
  grid-area: adopuno;
}

.adotiondos {
  grid-area: adopdos;
}

footer {
  grid-area: footer;
}

body {
  background-color: azure;
  margin-bottom: 1.5em;
  display: grid;
  justify-content: center;
  grid-template-areas: "header" "nav" "h1" "adopuno" "adopdos" "footer";
}

@media (min-with: 500px) {
  body {
    background-color: azure;
    margin-bottom: 1.5em;
    display: grid;
    justify-content: center;
    grid-template-areas: "header" "nav" "h1" "adopuno" "adopdos" "footer";
  }
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 2.8em;
    flex-direction: column;
    justify-content: center;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 991px) {
  body {
    background-color: azure;
    margin-bottom: 1.5em;
    display: grid;
    justify-content: center;
    grid-template-areas: "header    header" "nav          nav" "h1            h1" "adopuno  adopdos" "footer    footer";
  }
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 3.5em;
    flex-direction: column;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 1349px) {
  body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
  }
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
  }
  .imagen img {
    position: relative;
  }
  .adoption {
    display: flex;
    flex-direction: column;
  }
  .adotionuno {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  .adotionuno img {
    width: 250px;
    height: 250px;
    margin: 10px;
  }
  .adotionuno h2 {
    padding: 50px;
  }
  .adotiondos {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  .adotiondos img {
    width: 250px;
    height: 250px;
    margin: 10px;
  }
  .adotiondos h2 {
    padding: 50px;
  }
  footer {
    padding: 3em;
    background-color: #000c66;
    margin-bottom: 0;
    margin-top: 1.5em;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  padding: 34px;
  margin: 0px;
  grid-template-columns: 1fr;
  font-size: large;
  min-width: 100vh;
  background-color: #000C66;
}

.imagen h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}
.imagen img {
  position: relative;
}

footer {
  padding: 3em;
  background-color: #000c66;
  margin-bottom: 0;
  margin-top: 1.5em;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.imagen {
  grid-area: imagen;
}

.titulo {
  grid-area: titulo;
}

.emergencias {
  grid-area: emer;
}

.funeraria {
  grid-area: funeraria;
}

.downimg {
  grid-area: downimg;
}

footer {
  grid-area: footer;
}

body {
  background-color: azure;
  margin-bottom: 1.5em;
  display: grid;
  justify-content: center;
  grid-template-areas: "header" "nav" "h1" "emer" "funeraria" "footer";
}

@media (min-with: 500px) {
  body {
    background-color: azure;
    margin-bottom: 1.5em;
    display: grid;
    justify-content: center;
    grid-template-areas: "header" "nav" "h1" "emer" "funeraria" "footer";
  }
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 2.8em;
    flex-direction: column;
    justify-content: center;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 991px) {
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 3.5em;
    flex-direction: column;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 1349px) {
  body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
  }
  header {
    display: flex;
    padding: 34px;
    margin: 0px;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
  }
  .imagen img {
    position: relative;
  }
  .row1 {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .emergencias {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    margin-inline: 225px;
  }
  .emergencias img {
    width: 200px;
    height: 200px;
  }
  .funeraria {
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    margin-inline: 300px;
  }
  .funeraria img {
    width: 200px;
    height: 200px;
  }
  footer {
    padding: 3em;
    background-color: #000c66;
    margin-bottom: 0;
    margin-top: 1.5em;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  padding: 34px;
  margin: 0px;
  grid-template-columns: 1fr;
  font-size: large;
  min-width: 100vh;
  background-color: #000C66;
}

.imagen h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}
.imagen img {
  position: relative;
}

.nosotros {
  padding: 50px;
  margin: 10px;
  font-size: 60px;
  text-align: center;
}

.yo {
  padding: 30px;
  margin: 20px;
  text-align: start;
  font-size: 55px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  margin-inline: 700px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.imagen {
  grid-area: imagen;
}

.nosotro {
  grid-area: nsotros;
}

.padre {
  grid-area: padre;
}

footer {
  grid-area: footer;
}

@media (min-width: 500px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header" "nav" "nosotros" "padre" "footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 2.8em;
    flex-direction: column;
    justify-content: center;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 991px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header     header" "nav           nav" "nosotros nosotros" "padre       padre" "footer     footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 3.5em;
    flex-direction: column;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 1349px) {
  body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
  }
  header {
    display: flex;
    padding: 10px;
    margin-left: 0;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  nav {
    justify-items: none;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
  }
  .imagen img {
    position: relative;
  }
  .nosotros {
    padding: 50px;
    margin: 10px;
    font-size: 60px;
    text-align: center;
  }
  .yo {
    padding: 30px;
    margin: 20px;
    text-align: start;
    font-size: 55px;
  }
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    margin-inline: 700px;
  }
  footer {
    padding: 9px;
    background-color: #000C66;
  }
  footer img {
    margin-right: 20px;
    margin-left: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  padding: 34px;
  margin: 0px;
  grid-template-columns: 1fr;
  font-size: large;
  min-width: 100vh;
  background-color: #000C66;
}

.imagen h1 {
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1em;
}
.imagen img {
  position: relative;
}

.ubicacion {
  width: 800px;
  height: 500px;
  margin: 10px;
  margin-inline: 450px;
}

.textoubi {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
  margin-inline: 34px;
  padding: 53px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.imagen {
  grid-area: imagen;
}

.ubicacion {
  grid-area: ubicacion;
}

.textoubi {
  grid-area: textoubi;
}

footer {
  grid-area: footer;
}

@media (min-width: 500px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header" "nav" "ubcacion" "textoubi" "footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 2.8em;
    flex-direction: column;
    justify-content: center;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 991px) {
  body {
    margin-bottom: 1em;
    grid-template-areas: "header" "nav" "ubicacion" "textoubi" "footer";
  }
  .imagen {
    display: flex;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 1em;
    font-size: 3.5em;
    flex-direction: column;
  }
  .imagen img {
    position: relative;
  }
}
@media (min-width: 1349px) {
  body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
    min-height: 100vh;
  }
  header {
    display: flex;
    padding: 10px;
    margin-left: 0;
    flex-direction: column;
    font-size: large;
    min-width: 100vh;
    background-color: #000C66;
  }
  .imagen {
    display: flex;
  }
  nav {
    justify-items: none;
  }
  .imagen h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 75px;
  }
  .imagen img {
    position: relative;
  }
  .ubicacion {
    width: 800px;
    height: 500px;
    margin: 10px;
    margin-inline: 450px;
  }
  .textoubi {
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
    margin-inline: 34px;
    padding: 53px;
  }
  footer {
    padding: 9px;
    background-color: #000C66;
  }
  footer img {
    margin-right: 20px;
    margin-left: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */